body {
    background-color: whitesmoke;
    margin: 0;
}

.header {
    background-color: dodgerblue;
    position: absolute;
    height: 120px;
    width: 100%;
}

.header img {
    display: inline;
    position: relative;
    top: 35px;
    left: 20px;
}

.header h1 {
    text-align: center;
    font-family: Georgia;
    color: white;
}

.navBar {
    position: absolute;
    top: 84px;
    width: 100%;
    background-color: dodgerblue;
}

navBar ul {
    list-style-type: none;
    background-color: dodgerblue;
}

.navBar li {
    display: inline;
    position: relative;
    left: calc(50% - 335px);
    font-family: Verdana;
}

.navBar li a {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 15px 30px;

}

.navBar li a:hover {
    background-color: white;
    color: dodgerblue;
}

h1.contact {
    position: relative;
    top: 160px;
    margin: 0 auto;
    font-family: Georgia;
    text-align: center;
}

p.contact {
    position: absolute;
    top: 250px;
    font-family: Verdana;
    border: 1px dodgerblue solid;
    padding: 20px;
    border-radius: 5px;
    margin: 0 200px;
    text-align: center;
}